@font-face {
    font-family: SourceSansPro;
    src: url(../assets/source-sans-pro_bold.otf);
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: SourceSansPro;
    src: url(../assets/source-sans-pro_light.otf);
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: SourceSansPro;
    src: url(../assets/source-sans-pro_italic.otf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: SourceSansPro;
    src: url(../assets/source-sans-pro_regular.otf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: SpinCycleOT;
    src: url(../assets/spin-cycle-ot.otf);
    font-display: swap;
}

/* ----- GENERAL ----- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    font-family: SourceSansPro;
    color: white;
    text-align: center;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* ----- HEADER ----- */

header {
    width: 800px;
    margin: 0 auto;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

header div {
    width: 234px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

header a {
    font-size: 12px;
    text-decoration: none;
}

/* ----- MAIN ----- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    font-family: SourceSansPro;
    color: white;
    text-align: center;
}

section {
    width: 100%;
}

.hero .title h1 {
    font-size: 120px;
}

.title p {
    width: 100%;
    max-width: 250px;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 25px;;
}

.title p::after {
    content: "";
    display: inline-block;
    width: 100%;
}

section.hero {
    background-image: url("../assets/background.png");
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 75px;
}

section .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

button {
    background-color: #C271FF;
    border-radius: 999px;
    padding: 15px 25px;
    border: none;
    color: white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
}

section .pros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    margin-top: 150px;
}

section .pros h2 {
	font-family: SourceSansPro;
    font-weight: 300;
    font-size: 32px;
}

.purple-word {
    font-weight: 600;
    color: #C271FF;
}

section .people p {
    font-family: SourceSansPro;
    font-weight: 300;
}

section .people {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 125px;
    width: 100%;
}

section .people div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 150px;
}

.round-image {
    border-radius: 50%;
}
